<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:insert="fragment-admin :: head"></div>


<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a href="/admin/home" class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/admin/home}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Panel administracyjny</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a href="/admin/home" class="nav-link" th:href="@{/admin/home}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Strona główna</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">


        <!-- Nav Item - Utilities Collapse Menu -->
        <li th:insert="fragment-admin :: nav-item"></li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Nav Item - Tables -->
        <li class="nav-item active">
            <a class="nav-link" href="/" th:href="@{/admin/users/list}">
                <i class="fas fa-fw fa-table"></i>
                <span>Lista użytkowników</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" th:action="@{/admin/users/username}" method="get">
                    <div class="input-group">
                        <input type="search" class="form-control bg-light border-0 small" placeholder="Szukaj użytkownika..." aria-label="Search" aria-describedby="basic-addon2" name="userName">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul th:insert="fragment-admin :: topbar-navbar"></ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lista użytkowników</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Nazwa użytkownika</th>
                                    <th>Email</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Status użytkownika</th>
                                    <th colspan="2">Akcje</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>Nazwa użytkownika</th>
                                    <th>Email</th>
                                    <th>Imię</th>
                                    <th>Nazwisko</th>
                                    <th>Status użytkownika</th>
                                    <th colspan="2">Akcje</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <th th:text="${user.userName}"></th>
                                    <td th:text="${user.email}"></td>
                                    <td th:text="${user.firstName}"></td>
                                    <td th:text="${user.lastName}"></td>
                                    <td>
                                    <span class="text-success" th:if="${user.active}">Aktywny</span>
                                    <span class="text-danger" th:unless="${user.active}">Zablokowany</span>
                                    </td>
                                    <th>
                                        <a class="fas fa-edit" th:href="@{edit/{id}(id=${user.id})}"></a>
                                        <a class="fas fa-trash-alt validation-message" th:href="@{delete/{id}(id=${user.id})}"></a>

                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="fragment-admin :: footer"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<div th:insert="fragment-admin :: logout"></div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{../../vendor/jquery/jquery.min.js}"></script>
<script th:src="@{../../vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{../../vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{../../js/admin/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{../../vendor/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{../../vendor/datatables/dataTables.bootstrap4.min.js}"></script>

<!-- Page level custom scripts -->
<script th:src="@{../../js/admin/demo/datatables-demo.js}"></script>

</body>
</html>
